#navbar {
  position: fixed;
  min-width: 14%;
  top: 0px;
  left: 0px;
  width: 15%;
  height: 100%;
  border-right: solid;
  border-color: #0a6251;
  background-color: #dff9fb;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link {
  padding: 10% 0% 10% 0%;
  list-style: none;
}

.nav-link a {
  font-size: 20px;
  link-style: none;
  text-decoration: none;
  color: #0a6251;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #30336b;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0a6251;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3%;
}

#main-doc, footer {
  margin-left: 17%;
  margin-right: 5%;
}

footer {
  text-align: center;
  font-style: italic;
}

.main-section {
  padding: 5% 0% 5% 0%;
}

.main-section p {
  padding: 0.5% 0% 0.5% 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.main-section li {
  line-height: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

.codigo {
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
  padding: 3%;
}