#navbar {
    position: fixed;
    min-width: 250px;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 100%;
    border-right: solid;
    border-color: #16a085;
}

.nav-link {
    padding: 10% 0% 10% 0%;
    list-style: none;
  }